################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebServer/.vs
/WebServer/obj
/WebServer/bin
/WebServer/obj/project.assets.json
/WebServer/obj/project.nuget.cache
/WebServer/obj/WebServer.csproj.nuget.dgspec.json
/WebServer/obj/WebServer.csproj.nuget.g.props
/WebServer/obj/Debug/net8.0/WebServer.csproj.AssemblyReference.cache
/WebServer/obj/Debug/net8.0/WebServer.GeneratedMSBuildEditorConfig.editorconfig
/WebServer/.vs/ProjectEvaluation/webserver.metadata.v7.bin
/WebServer/.vs/ProjectEvaluation/webserver.projects.v7.bin
/WebServer/.vs/WebServer/DesignTimeBuild/.dtbcache.v2
/WebServer/.vs/WebServer/v17/.futdcache.v2
/WebServer/.vs/WebServer/v17/.suo
/WebServer/.vs/WebServer/v17/DocumentLayout.json
/webclient/package-lock.json
/WebServerTests/obj
/WebServerTests/bin
/WebServerTests/.vs