form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    gap: 16px;
}

label {
    margin-right: 8px;
}

select {
    padding: 8px;
}

input[type='number'] {
    width: 250px;
}
input[type='text'] {
    width: 250px;
}
select, option {
    width: 250px;
}